DirectoryIndex load.html
Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine on

#For search engines
RewriteCond %{QUERY_STRING} _escaped_fragment_
RewriteRule ^(.*)$ shot.php?url=$1 [L,QSA]

RewriteRule ^api/!(.+)$ api/$1 [L,QSA]

# Custom rules
#RewriteRule ^api/champs/Profile/(.+)$ api/champs/Profile?0=$1 [L,QSA]
#RewriteRule ^api/news/(.+)/(.*)$ api/news/Show?0=$1 [L,QSA]

RewriteRule ^api/(.+)$ rpc.php?api=$1 [L,QSA]
RewriteRule ^api(.*)$ http://%{HTTP_HOST}/api/main/home$1 [L,R,QSA]

#refactor but idk how.
RewriteRule ^phoxy_loader.js$ phoxy/phoxy_loader.js [L,QSA]
RewriteRule ^libs/(.*)$ phoxy/$0 [L,QSA]
RewriteRule ^js/libs/(.*)$ phoxy/libs/$1 [L,QSA]
RewriteRule ^phoxy(.*).js$ phoxy/$0 [L,QSA]

</IfModule>