<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" language='javascript'></script>

<div class="navbar navbar-default">
  <h1>Опрос:</h1>
</div>
<div id = "content" class="container">
</div>
<div class = "footer">
<p class="text-center">опрос 2014</p>
</div>

<script>
phoxy.Defer(function()
{
  var old_f = $.fn.ajaxForm;

  if (typeof(old_f) == 'undefined')
    return phoxy.Defer(arguments.callee, 50);
  $.fn.ajaxForm = function(options)
  {
    if (typeof options == 'function')
      options = { success : options };
    options = options || {};
    var origin_cb = options.success;

    options.success = function(response)
    {
      var obj = $.parseJSON(response);
      phoxy.ApiAnswer(obj);

      if (typeof(origin_cb) == 'function')
        origin_cb.apply(this, arguments);
    };

    return old_f.call(this, options);
  };
});
</script>