<form action = "api/register/submitForm" method = "post" role="form">
  <p>имя:</p>
  <input name = "name" class="form-control">
  <p>фамилия:</p>
  <input name = "surname" class="form-control">
  <p>место работы:</p>
  <input name = "work" class="form-control">
  <button class="btn btn-default">отправить</button>
</form>

<%this.Defer(function()
{
  this.first().ajaxForm();
})%>